<?xml version="1.0"?>
<config>
    <modules>
        <LCB_News>
            <version>1.0.0</version>
        </LCB_News>
    </modules>
    <global>
        <helpers>
            <news>
                <class>LCB_News_Helper</class>
            </news>
        </helpers>
        <blocks>
            <news>
                <class>LCB_News_Block</class>
            </news>
        </blocks>
        <models>
            <news>
                <class>LCB_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <news_mysql4>
                <class>LCB_News_Model_Mysql4</class>
                <entities>		  
                    <news>
                        <table>lcb_news</table>
                    </news>
                </entities>
            </news_mysql4>
        </models>
        <resources>
            <lcb_news_setup>
                <setup>
                    <module>LCB_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_news_setup>
            <lcb_news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_news_write>
            <lcb_news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_news_read>
        </resources>
    </global>
    <admin>
        <routers>
            <news>
                <use>admin</use>
                <args>
                    <module>LCB_News</module>
                    <frontName>admin_news</frontName>
                </args>
            </news>
        </routers>
    </admin>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>LCB_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <faq>
                    <file>lcb_news.xml</file>
                </faq>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <news module="news">
                        <title>News</title>
                        <sort_order>100</sort_order>
                        <action>admin_news/adminhtml_news</action>
                    </news>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <news translate="title" module="news">
                                    <title>News</title>
                                    <sort_order>1000</sort_order>
                                    <children>
                                        <news translate="title">
                                            <title>Manage News</title>
                                            <sort_order>0</sort_order>
                                        </news>
                                    </children>
                                </news>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <news>
                    <file>lcb_news.xml</file>
                </news>
            </updates>
        </layout>
    </adminhtml>
</config> 