<?xml version="1.0"?>
<config>
    <modules>
        <LCB_News>
            <version>1.3.2</version>
        </LCB_News>
    </modules>
    <global>
        <helpers>
            <news>
                <class>LCB_News_Helper</class>
            </news>
        </helpers>
        <blocks>
            <news>
                <class>LCB_News_Block</class>
            </news>
        </blocks>
        <models>
            <news>
                <class>LCB_News_Model</class>
                <resourceModel>lcb_news_resource</resourceModel>
            </news>
            <lcb_news_resource>
                <class>LCB_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>lcb_news</table>
                    </news>
                </entities>
            </lcb_news_resource>
        </models>
        <resources>
            <lcb_news_setup>
                <setup>
                    <module>LCB_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_news_setup>
            <lcb_news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_news_write>
            <lcb_news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_news_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LCB_News before="Mage_Adminhtml">LCB_News_Adminhtml</LCB_News>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <LCB_News>
                    <files>
                        <default>LCB_News.csv</default>
                    </files>
                </LCB_News>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>LCB_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>lcb_news.xml</file>
                </news>
            </updates>
        </layout>
        <translate>
            <modules>
                <LCB_News>
                    <files>
                        <default>LCB_News.csv</default>
                    </files>
                </LCB_News>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <news>
                    <file>lcb_news.xml</file>
                </news>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <web>
            <routers>
                <lcb_news_router>
                    <area>frontend</area>
                    <class>LCB_News_Controller_Router</class>
                </lcb_news_router>
            </routers>
        </web>
    </default>
            <news>
            <display>
                <limit>0</limit>
            </display>
        </news>
</config>